*{
    font-family: "Poppins", sans-serif;
}

.textbox{
    height: 25px;
    width: 100%;
    border-radius: 5px;
    padding: 4px;
    border: solid thin #aaa;
}

.button{
    padding: 10px;
    width: 100px;
    color: white;
    background-color: #4ba7c4;
    border: none;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.button:hover {
  background-color: #1f456e;
}

.box{
    background-color: rgba(128, 128, 128, 0.5);
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.confirm-text{
    color: #4cc34c;
    font-size: small;
}

.error-text{
    color: #aa2222;
    font-size: small;
}

.login, .signup{
    font-size: 30px;
    margin: 10px;
    color: white;
}

.background{
    background-image: url("/images/photo3.jpg");
    background-size: cover;
    /* background-color: #5a5a5a; */
}

a{
    display: inline-block;
    color: #4ba7c4;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover{
    color: #1f456e;
}

.radiobutton:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #d1d3d1;
    transition: background-color 0.5s;
}

.radiobutton:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #1f456e;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #d1d3d1;
}
