body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;

  }
header {

color: #fff;
padding: 20px;
}

nav ul {
list-style-type: none;
margin: 0;
padding: 0;
}

nav ul li {
display: inline;
margin-right: 10px;
}

nav ul li a {
color: #fff;
text-decoration: none;
}
  /* .contact-container {
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .contact-form {
    background-color: rgb(255 255 255 / 0%);
    max-width: 500px;
    padding: 40px;
    border-radius: 5px;
    color: white;

  }

  .contact-form h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }

  .contact-form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }