body{
    background: url("/images/background.png")
                no-repeat center center fixed;
                font-family: Arial, sans-serif;
background-size: cover;
background-repeat: no-repeat;
}

h1 {
    text-align: center;
    margin-top: 120px;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    margin-top: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 30px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 50px;
  }
  
  button[type="submit"] {
    background-color: #3f8ad6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 50px;
  }
  
  input[type="submit"]:hover {
    background-color: #9c9fa1;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
    form {
      padding: 10px;
  
    }
    
    input[type="submit"] {
      padding: 8px 16px;
    }
  }
