
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Flights</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/updateflight.css}">
    
    </head>
    <body tyle="background-image:url(/images/info.png);">
      <nav>
        <img th:src="@{/images/logo.png}" width="auto" height="40px" id=logo alt="Logo image"/>
        <ul>
          <li><a th:href="@{/admin}">Home</a></li>
          <li><a th:href="@{/admin/admin-viewflights}">Flights</a></li>
          <li><a th:href="@{/admin/admin-view-users}">Users</a></li>
          <li><a th:href="@{/reservation/admin-reservation}">Reservations</a></li> 
              <li><a th:href="@{/logout}">Logout</a></li>
            </div>
          </li>
        </ul>
    </nav>
    <h1>Add Flights</h1>
    <form th:action="@{/admin/admin-flights-save}" th:object="${Flights}" method="post">
        <label for="flightType">Flight Type:</label><br>
        <input type="text" id="flightType" th:field="*{flight_type}" required><br><br>
        
        <label for="departureCity">Departure City:</label><br>
        <input type="text" id="departureCity" th:field="*{depature_city}" required><br><br>
        
        <label for="arrivalCity">Arrival City:</label><br>
        <input type="text" id="arrivalCity" th:field="*{arrival_city}" required><br><br>
        
        <label for="destination">Destination:</label><br>
        <input type="text" id="destination" th:field="*{destination}" required><br><br>
        
        <label for="departureDate">Departure Date:</label><br>
        <input type="text" id="departureDate" th:field="*{departure_date}" required><br><br>
        
        <label for="priceForTicket">Price for Ticket:</label><br>
        <input type="text" id="priceForTicket" th:field="*{price_for_ticket}" required><br><br>
        <input type="hidden" th:field="*{id}" />

        <input type="submit" value="Save">
    </form>
</body>
</html>
