<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
    <head>
        <title>Flights</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/flights.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}">

    </head>
    <body style=" background-attachment: fixed; background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('/images/info.png');background-size: cover;background-position: center;background-repeat: no-repeat;">
        <nav>
            <img th:src="@{/images/logo.png}" width="auto" height="40px" id=logo alt="Logo image"/>
            <ul>
              <li><a th:href="@{/admin}">Home</a></li>
              <li><a th:href="@{/admin/admin-viewflights}">Flights</a></li>
              <li><a th:href="@{/admin/admin-view-users}">Users</a></li>
              <li><a th:href="@{/reservation/admin-reservation}">Reservations</a></li> 
                  <li><a th:href="@{/logout}">Logout</a></li>
                </div>
              </li>
            </ul>
        </nav>
        <br><BR><br>
      
        <div>
        <p>Current Date and Time: <span id="datetime"></span></p>
        <h1 style="color: #fff;text-align: center">Confirm Reservations</h1>
            </div>
            
            <table>
                <tr>
                    <th>Flight ID</th>
                    <th>Flight Type</th>
                    <th>Departure City</th>
                    <th>Arrival City</th>
                    <th>Destination</th>
                    <th>Departure Date</th>                   
                    <th>Price</th>
                    <th>Update Reservation</th>
                </tr>
                      <tr>
                        <tr th:each="reservations: ${reservations}" th:object=" ${reservations}">
                            <td th:text="${reservations.flights.id}"></td>
                            <td th:text="${reservations.flights.flight_type}"></td>
                            <td th:text="${reservations.flights.depature_city}"></td>
                            <td th:text="${reservations.flights.arrival_city}"></td>
                            <td th:text="${reservations.flights.destination}"></td>
                            <td th:text="${reservations.flights.departure_date}"></td>
                            <td th:text="${reservations.flights.price_for_ticket}"></td>
                            <td><select href="javascript:void(0)" th:text="${reservations.status}" class="dropbtn">
                                <option value="economy">Pending</option>
                                <option value="business">Approved</option>
                                <option value="business">Rejected</option>
                              </select></td>
                        
                          </tr>
                      </tr>                
            </table>
           
    </body>
</html>
<script>
    function showDateTime() {
      var currentDate = new Date();
      var dateTimeString = currentDate.toLocaleString();
      document.getElementById("datetime").textContent = dateTimeString;
    }

    // Call the function when the page loads
    window.onload = showDateTime;
  </script>