<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
    <head>

        <link rel="stylesheet" type="text/css" th:href="@{/css/flights.css}">
        <title>Users</title>
  
    </head>
    <body style=" background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('/images/info.png');background-size: cover;background-position: center;background-repeat: no-repeat;">
        <div>
            </div>
           
            <table>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>       

              


                  <form th:each="user : ${user}"  th:object="${user}"> 
                    <tr>
                        <td th:field="${id}" th:text="${user.id}"></td>
                        <td th:field="${name}" th:text="${user.name}"></td>
                        <td th:field="${username}" th:text="${user.username}"></td>
                        <td th:field="${email}" th:text="${user.email}"></td>
                        <td> <button class="buttons" >Edit</button></td> 
                        <td><button class="buttons" >Delete</button></td>
                      </tr>

            </table>
        </body>
</html>