<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}">

<head>
    
    <title>Admin</title>
</head>
<body>
    <nav>
        <img th:src="@{/images/logo.png}" width="auto" height="40px" id=logo alt="Logo image"/>
        <ul>
          <li><a th:href="@{/admin}">Home</a></li>
          <li><a th:href="@{/admin/admin-viewflights}">Flights</a></li>
          <li><a th:href="@{/contactus}">Contact Us</a></li>
          <li class="dropdown">
            <a th:href="@{/reservation/admin-reservations}">Reservations</a>
            
            </div>
          </li>
        </ul>
    </nav>
    <h1>welcome Admin</h1>
    <a th:href="@{/admin/admin-viewflights}">flights</a>
    <a th:href="@{/admin/admin-view-users}">users</a>
</body>
</html>