<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/contactus.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}">

</head>
<header>
  <nav>
    <img th:src="@{/images/logo.png}" width="auto" height="40px" id=logo alt="Logo image"/>
    <ul>
      <li><a th:href="@{/home}">Home</a></li>
      <li><a th:href="@{/flights}">Flights</a></li>
      <li><a th:href="@{/contactus}">Contact Us</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)"th:href="@{/userprofile}" class="dropbtn">Profile</a>
        <div class="dropdown-content">
          <!-- <a th:href="@{/userprofile}">Profile</a> -->
          <li><a th:href="@{/logout}">Logout</a></li>
        </div>
      </li>
    </ul>
  
 
</nav>
  </header>
<body > 
  <div class="contact-container"style=" background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('/images/contact.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;">
    <div class="contact-form">
      <h2>Contact Us</h2>
      <form action="#">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone" required>

        <label for="nationality">Nationality:</label>
        <input type="text" id="nationality" name="nationality" required>

        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>

        <button type="submit">Send Message</button>
      </form>
    </div>
  </div>
</body>

</html>
