<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
    <head>
        <title>Flights</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/flights.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}">


    </head>
    <body style=" background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('/images/info.png');background-size: cover;background-position: center;background-repeat: no-repeat;">
      <nav>
        <img th:src="@{/images/logo.png}" width="auto" height="40px" id=logo alt="Logo image"/>
        <ul>
          <li><a th:href="@{/home}">Home</a></li>
          <li><a th:href="@{/flights}">Flights</a></li>
          <li><a th:href="@{/contactus}">Contact Us</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)"th:href="@{/userprofile}" class="dropbtn">Profile</a>
            <div class="dropdown-content">
              <li><a th:href="@{/logout}">Logout</a></li>

            </div>
          </li>
        </ul>
      
     
    </nav>
        <div class="search">
                <div class="search-container">
                    <h1>Flight Search</h1>
                    <form class="search-form" th:action ="@{/flights}">
                      <div class="form-group">
                        <label for="departure">Departure</label>
                        <input type="text" id="departure" th:name="depature_city" placeholder="Departure City">
                      </div>
                      <div class="form-group">
                        <label for="arrival">Arrival</label>
                        <input type="text" id="arrival" th:name="arrival_city" placeholder="Arrival City">
                      </div>
                      <div class="form-group">
                        <label for="date">Date</label>
                        <input type="date" id="date" th:name="departure_date">
                      </div>
                      <div class="form-group">
                        <label for="class">Class</label>
                        <select id="class" th:name="flight_type">
                          <option value="economy">Economy</option>
                          <option value="business">Business</option>
                        </select>
                      </div>
                      <button type="submit">Search</button>
                    </form>
                  </div>
            </form>
        </div>
        <div>
        <p>Current Date and Time: <span id="datetime"></span></p>
        <h1 style="color: white;">Select your departure flight</h1>
            </div>
            <table>
                <tr>
                    <th>Flight ID</th>
                    <th>Flight Type</th>
                    <th>Departure City</th>
                    <th>Arrival City</th>
                    <th>Destination</th>
                    <th>Departure Date</th>                   
                    <th>Price</th>
                    <th></th>
                </tr>
             
                  <form th:each="flight : ${flights}" th:action ="@{/reservation}" th:object="${flight}">
                      <tr>
                        <td th:field="${id}" th:text="${flight.id}"></td>
                        <td th:field="${flight_type}" th:text="${flight.flight_type}"></td>
                        <td th:field="${depature_city}" th:text="${flight.depature_city}"></td>
                        <td th:field="${arrival_city}" th:text="${flight.arrival_city}"></td>
                        <td th:field="${destination}" th:text="${flight.destination}"></td>
                        <td th:field="${departure_date}" th:text="${flight.departure_date}"></td>
                        <td th:field="${price_for_ticket}" th:text="${flight.price_for_ticket}"></td>
                        <td> <button type="submit">select</button></td>
                      </tr>
                    <input type="hidden" th:name="id" th:value="${flight.id}"/>
                    <input type="hidden" th:name="flight_type" th:value="${flight.flight_type}"/>
                    <input type="hidden" th:name="depature_city" th:value="${flight.depature_city}"/>
                    <input type="hidden" th:name="arrival_city" th:value="${flight.arrival_city}"/>
                    <input type="hidden" th:name="destination" th:value="${flight.destination}"/>
                    <input type="hidden" th:name="departure_date" th:value="${flight.departure_date}"/>
                    <input type="hidden" th:name="price_for_ticket" th:value="${flight.price_for_ticket}"/>
                   
                   </form>
                
                  
                
            </table>
    </body>
</html>
<script>
    function showDateTime() {
      var currentDate = new Date();
      var dateTimeString = currentDate.toLocaleString();
      document.getElementById("datetime").textContent = dateTimeString;
    }

    // Call the function when the page loads
    window.onload = showDateTime;
  </script>
               