<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
  <title>Airline Online System</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap">
</head>    
  <body>
    <nav>
      <img th:src="@{/images/logo.png}" width="auto" height="40px" id=logo alt="Logo image"/>
      <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/flights}">Flights</a></li>
        <li><a th:href="@{/contactus}">Contact Us</a></li>
        <li class="dropdown">
          <a href="javascript:void(0)"th:href="@{/userprofile}" class="dropbtn">Profile</a>
          <div class="dropdown-content">
            <!-- <a th:href="@{/userprofile}">Profile</a> -->
            <a th:href="@{/logout}">Logout</a>
          </div>
        </li>
      </ul>
    
   
  </nav>
  <div class="slider">
      
    <img class="slide" th:src="@{/images/london.jpg}" alt="Image 1">
    <img class="slide" th:src="@{/images/cairo.jpg}" alt="Image 2">
    <img class="slide" th:src="@{/images/turkey.jpg}" alt="Image 3">
    <div class="caption-slider">
      <p>Explore the World with <span style="color:#0039a6">UNITED</span>.</p>
  </div>
  </div>
     <section class="special-offers">
    <h3>Recommendations</h3>
    <div class="container">
      <div class="image-container">
        <a th:href="@{/flights}">    <img th:src="@{/images/london.jpg}" alt="Image 1"></a>
          <div class="caption">
              <p>Explore the wonders of London</p>
          </div>
      </div>
      <div class="image-container">
        <a th:href="@{/flights}"> <img th:src="@{/images/turkey.jpg}" alt="Image 1"></a>
        <div class="caption">
            <p>Enjoy the food in İstanbul</p>
        </div>
    </div>
      <div class="image-container">
       <a th:href="@{/flights}">   <img th:src="@{/images/cairo.jpg}"  alt="Image 2"></a>
          <div class="caption">
              <p>Experience the beauty of Cairo Nights</p>
          </div>
      </div>
  </div>
  </section>
   <main>
      <section>
        <h2>About Us</h2>
        <p><b>Welcome to our online booking airline system! We are dedicated to making your travel experience seamless and enjoyable.</b></p>
    <p>At our system, we understand that traveling is more than just getting from one place to another. It's about creating memories, exploring new destinations, and connecting with people and cultures. That's why we strive to provide you with the best possible service and options for your travel needs.</p>
      </section>
  
    </main>
    
    <footer>
      
      <p>&copy; 2023 Airline Online System. All rights reserved.</p>
    </footer>
  </body>
  </html>
