
<!-- 
<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">

</head>

<body>
	<main>

        <form th:action="@{/login/home}" th:object="${user}" method="POST">
            <h2>Login</h2>
             <input type="text" th:field="*{username}" placeholder="Enter Username" required>
             <input type="password" th:field="*{password}" placeholder="Enter Password" required>
             <label class="container" >Remember Me
                <input type="checkbox" >
                <span class="checkmark"></span>
              </label>
              <input type="submit" class="button" value="login" >
              <button type="button" value="Sign Up" style="background-color: #3f8ad6;
              border: none;
              border-radius: 5px;
              color: #fff;
              cursor: pointer;
              font-size: 16px;
              padding: 10px;
              margin-top: 20px;
              width: 90%;
              margin-left: 5%;"><a th:href="@{/signup/adduser}">Sign Up</a></button>
		      </form>
	</main>
</body>
</html>

 -->


 <!DOCTYPE html>
<html lang="en">
    <head>
        <title>EGWay-Login</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/authenticate.css}">
        <!-- links for the font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    </head>
    <body class="background">
        <div class="box">

            <form th:action="@{/login/home}" th:object="${user}"  name="login-form" method="post">
                <div class="login">Login</div>

                <input class="textbox" th:field="*{username}" type="text" name="user_name" placeholder="Username" required ><br>
               <br>

                <input class="textbox" th:field="*{password}" type="password" name="password" placeholder="Password" required ><br>
                <br>
                

                <div style="text-align: center;"><input class="button" type="submit" value="Login"></div><br>

               <p style="color: white; text-align: center;">Create a <a th:href="@{/signup/adduser}">new account</a></p>

            </form>
        </div>
    </body>
</html>
