
<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">

</head>

<body>
	<main>

        <form th:action="@{/login/home}" th:object="${user}" method="POST">
            <h2>Login</h2>
             <input type="text" th:field="*{username}" placeholder="Enter Username" required>
             <input type="password" th:field="*{password}" placeholder="Enter Password" required>
             <label class="container" >Remember Me
                <input type="checkbox" >
                <span class="checkmark"></span>
              </label>
              <input type="submit" class="button" value="login" >
              <button type="button" value="Sign Up" style="background-color: #3f8ad6;
              border: none;
              border-radius: 5px;
              color: #fff;
              cursor: pointer;
              font-size: 16px;
              padding: 10px;
              margin-top: 20px;
              width: 90%;
              margin-left: 5%;"><a th:href="@{/signup/adduser}">Sign Up</a></button>
		      </form>
	</main>
</body>
</html>


