<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/payment.css}">
  <link rel="stylesheet" type="text/css"  th:href="@{/css/nav.css}">
</head>
<body>
  <nav>
    <img th:src="@{/images/logo.png}" width="auto" height="40px" id=logo alt="Logo image"/>
    <ul>
      <li><a th:href="@{/home}">Home</a></li>
      <li><a th:href="@{/flights}">Flights</a></li>
      <li><a th:href="@{/contactus}">Contact Us</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)"th:href="@{/userprofile}" class="dropbtn">Profile</a>
        <div class="dropdown-content">
          <!-- <a th:href="@{/userprofile}">Profile</a> -->
        <li><a th:href="@{/logout}">Logout</a></li>
        </div>
      </li>
    </ul>
  
 
</nav>
  <div>
 
  
  <form th:action="@{/Payment}" th:object="${cardinfo}" method="POST"  >
    
    <h1>Airline Payment Page</h1>
    <label >price :</label>
    <p type="text"  th:field="${price}" th:text="${price}" name="price"  ></p>
    <input type="hidden" th:name="price" th:value="${price}"/>

    <label for="cardholderName">CardholderName</label>
    <input type="text" th:field="*{CardholderName}" id="cardholderName" name="cardholderName" required><br><br>

    <label for="card">Card Number</label>
    <input type="text" th:field="*{cardNumber}" id="card" name="card" required><br><br>
    
    <label for="expiry">Expiry Date</label>
    <input type="month" th:field="*{expiryDate}" id="expiry" name="expiry" min="2023-05" required><br><br>
    
    <label for="cvv">CVV</label>
    <input type="password" th:field="*{cvv}" id="cvv" name="cvv" required><br><br>

    <input type="submit" value="Pay" style="width: 50%; margin-left: 25%;font-size: larger; "th:href="@{/home.html}" onclick="myFunction()">
  </form>
  
</body>
</html>
<script>
  function myFunction() {
  confirm("Confirmed");
}
</script>