<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/payment.css}">
</head>
<body>
  <h1>Airline Payment Page</h1>
  
  <form th:action="@{/Payment}" th:object="${cardinfo}" method="POST" >

    <label for="cardholderName">CardholderName</label>
    <input type="text" th:field="*{CardholderName}" id="cardholderName" name="cardholderName" required><br><br>

    <label for="card">Card Number:</label>
    <input type="text" th:field="*{cardNumber}" id="card" name="card" required><br><br>
    
    <label for="expiry">Expiry Date:</label>
    <input type="month" th:field="*{expiryDate}" id="expiry" name="expiry" min="2023-05" required><br><br>
    
    <label for="cvv">CVV:</label>
    <input type="password" th:field="*{cvv}" id="cvv" name="cvv" required><br><br>

    <input type="submit" value="Pay" style="width: 50%; margin-left: 25%;font-size: larger; "th:href="@{/home.html}">
  </form>
</body>
</html>
