<html xmlns:th="http://www.thymleaf.org">
    
<head>
    <title>Signup </title>
</head>
<body>

    <div>
        <form th:action="@{/login/save}" th:object="${user}" method="POST">
            <input type="text" th:field="*{name}" placeholder="Enter Name">
            <input type="password" th:field="*{password}"  placeholder="Enter password">
            <input type="text" th:field="*{username}" placeholder="Enter Username">
            <input type="text" th:field="*{email}" placeholder="Enter email">
            <button type="submit">Signup</button>
        </form>
    </div>

</body>
    
</html>