
<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}">

</head>
<body>
  <h1>Signup </h1>
  
  <form th:action="@{/login/save}" th:object="${user}" method="POST" >

    <input type="text" th:field="*{name}" placeholder="Enter Name" required>

    <input type="password" th:field="*{password}"  placeholder="Enter password" required>
    
    <input type="text" th:field="*{username}" placeholder="Enter Username"required>
    
    <input type="text" th:field="*{email}" placeholder="Enter email" required>

    <button type="submit">Signup</button>
  </form>
</body>

</html>