<html xmlns:th="http://www.thymleaf.org">


<head>
  <title>User Account - Airline Booking System</title>
  <link rel="stylesheet" type="text/css"  th:href="@{/css/userprofile.css}">
</head>

<header>
    <nav>
      <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/flights}">Flights</a></li>
        <li><a th:href="@{/Reservations}">Bookings</a></li>
        <li><a th:href="@{/contactus}">Contact Us</a></li>
        <li><a th:href="@{/userprofile}">My Account</a></li>
        <li><a th:href="@{/logout}">Logout</a></li>
      </ul>
    </nav>
  </header>

  <body style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/images/background.png);
  background-size: cover;
  background-position: center;">
  <h1 style="color:white"></span>User Account</h1>
  
  <!-- <div class="profile-section">
    <h2 <span style="color:white"></span>Profile Information</h2>
    <form>
      <div class="form-group">
        <label for="full-name">Full Name:</label>
        <input type="text" id="full-name" name="full-name" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone" required>
      </div>
      <div class="form-group">
        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob" required>
      </div>
      <div class="form-group">
        <label for="nationality">Nationality:</label>
        <input type="text" id="nationality" name="nationality" required>
      </div>
      <div class="form-group">
        <label for="passport">Passport/ID Information:</label>
        <input type="text" id="passport" name="passport" required>
      </div>
      <div class="form-group">
        <input type="submit" value="Update Profile">
      </div>
    </form>
  </div> -->
  
 

 <div>
   
  <table>
    <tr>
      <th>flightID</th>
    </tr>

    <tr th:each="reservation: ${reservations}" th:object=" ${reservations}">
      <td th:text="${reservation.flights.flight_type}"></td>
      <td th:text="${reservation.flights.depature_city}"></td>
      <td th:text="${reservation.flights.arrival_city}"></td>
      <td th:text="${reservation.flights.destination}"></td>
      <td th:text="${reservation.flights.departure_date}"></td>
      <td th:text="${reservation.flights.price_for_ticket}"></td>
      <td><a class="buttons" th:href="@{/admin/delete-flight(flightID=${flight.id})}">Delete</a></td>

    </tr>
  </table>
 </div>


    
  </body>
</html>