<html xmlns:th="http://www.thymleaf.org">


<head>
  <title>User Account - Airline Booking System</title>
  <link rel="stylesheet" type="text/css"  th:href="@{/css/userprofile.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}">
</head>

<header>
    <nav>
      <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/flights}">Flights</a></li>
        <li><a th:href="@{/Reservations}">Bookings</a></li>
        <li><a th:href="@{/contactus}">Contact Us</a></li>
        <li><a th:href="@{/userprofile}">My Account</a></li>
        <li><a th:href="@{/logout}">Logout</a></li>
      </ul>
    </nav>
  </header>

  <body style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/images/background.png);
  background-size: cover;
  background-position: center;">
  <h1 style="color:white"></span>User Account</h1>

  
 

 <div>
   
  <table>
    <tr>
      <th>flightID</th>
    </tr>

    <tr th:each="reservations : ${reservations}" th:object=" ${reservations}">
      <td th:text="${reservations.flights.flight_type}"></td>
      <td th:text="${reservations.flights.depature_city}"></td>
      <td th:text="${reservations.flights.arrival_city}"></td>
      <td th:text="${reservations.flights.destination}"></td>
      <td th:text="${reservations.flights.departure_date}"></td>
      <td th:text="${reservations.flights.price_for_ticket}"></td>

    </tr>
  </table>
 </div>


    
  </body>
  </html>